<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-img src="../../assets/img/logo.png"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <h5>Saiba qual a melhor opção para abastecer o seu carro</h5>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Preço do Álcool ex: 3,20</ion-label>
          <ion-input type="number" [(ngModel)]="precoAlcool"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Preço do Gasolina ex: 6,20</ion-label>
          <ion-input type="number" [(ngModel)]="precoGasolina"></ion-input>
        </ion-item>

        <ion-button
          color="success"
          fill="outline"
          expand="full"
          shape="round"
          (click)=" presentAlert()"
          >Calcular</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
